*.o
*.pyc

# Eclipse setting
.settings
.cproject
.project

# Example project files
# examples/**/sdkconfig
sdkconfig.old
build
utils/parameters.bat
utils/paths-esp-idf-tools.bat
utils/paths-win-tools.bat


# Unit test app files
# tools/unit-test-app/sdkconfig
# tools/unit-test-app/sdkconfig.old
# tools/unit-test-app/build

# Doc build artifacts
# docs/*/_build/
# docs/*/doxygen-warning-log.txt
# docs/*/sphinx-warning-log.txt
# docs/*/sphinx-warning-log-sanitized.txt
# docs/*/xml/
# docs/*/xml_in/
# docs/*/man/
# docs/doxygen_sqlite3.db

# Emacs
.dir-locals.el

# Emacs temp file suffixes
*~
.#*
\#*#

# MacOS directory files
.DS_Store

# VS Code files
*.VC.DB*